<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let asignatura of asignaturas">
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Profesor:</strong>{{asignatura.profesor}}</p>
        <p><strong>Horario:</strong>{{asignatura.horario}}</p>
        <p><strong>Sala:</strong>{{asignatura.sala}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<footer>
  <ion-toolbar>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
