<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="VolverMenuEst()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualiza tu Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Contraseña Actual</ion-label>
          <ion-input [(ngModel)]="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'" name="currentPassword"></ion-input>
          <ion-icon name="eye" slot="end" (click)="MostrarcontraActual()"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" [type]="showNewPassword ? 'text' : 'password'" name="newPassword"></ion-input>
          <ion-icon name="eye" slot="end" (click)="Mostrarcontranueva()"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword"></ion-input>
          <ion-icon name="eye" slot="end" (click)="Mostrarconfirmarcontra()"></ion-icon>
        </ion-item>

        <ion-button expand="full" type="submit" color="primary" style="margin-top: 20px;">Cambiar Contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<footer>
  <ion-toolbar>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
</footer>